<%- include('../partials/header') %>

<section>
  <h3>Title:</h3>
    <p><%= publication.title %></p>
  <h3>Creator:</h3>
    <p><%= publication.creator %></p>
  <h3>Medium:</h3>
    <p><%= publication.medium %></p>
</section>

<section>
  <h3>Tags:</h3>
  <ul>
    <% publication.tags.map(t => {%>
        <li><a href="../tags/<%= t._id %>"> <%= t.name %></a></li>
        <% }).join('') %>
</ul>
</section>

<section id="reviews">
  <h3>Reviews</h3>
  <% publication.reviews.forEach(function(r) { %>
    <!-- <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %> -->
    <h4><%= r.userName %></h4>
    <img
      <p><%= r.content %></p>
  <% }) %>
</section>

<% if (user) { %>
  <form action="/tags/publications/<%= publication._id %>/tags" method="POST">
    <select name="tagId">
      <%- tags.map(t => `<option value="${t._id}">${t.name}</option>`) .join('') %>
    </select>
    <!-- <input type="text" name="tag"> -->
    <button type="submit">Add tag to publication</button>
</form>

<form action="/publications/<%= publication._id %>/reviews" method="POST">
  <textarea name="content" type="text" placeholder="Add a review/description here."></textarea>
  <input type="submit" value="Add Review/Description">
</form>
<% } %>


<%- include('../partials/footer') %>